@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

    body{
        font-family: "Barlow", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
    }

/*Header start********************/
nav{
    background: #3dbeff;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 14px;
    padding: 7px 13px;
    font-weight: 500;
  
  }
  
  a.active:hover{
    background: #6eceff;
    transition: .5s;
    color: #fff;
  }
  a.active{
    font-family: 'Fraunces', serif;
    font-size: 14px;
    font-weight: 700;
    background: #fff;
    color:  hsl(212, 27%, 19%);
    transition: .5s;  
    border-radius: 40px;
    padding: 13px 15px;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
/*Header end********************/

/**Hero start********************/

.hero{
  background: url(img/desktop/image-header.jpg);
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: -80px;
  padding: 0;
}

.hero .hero-text h1{
  font-size: 50px;
  letter-spacing: 8px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin: 0px auto;
  width: 100%;
  font-family: 'Fraunces', serif;
  padding-top: 170px;
}

.hero .hero-text img{
  margin: 90px auto 0 auto;
  display: block;
}

/**Hero start********************/



/**Section2 start********************/

.section2{
  background: #fffbf8;
  height: 90vh;
  display: flex;
  padding: 0;
}

.section2 .section2-text{
  width: 50%;
  padding-top: 60px;
  padding-left: 150px;
  padding-right: 100px;
  margin: 0 auto;
}

.section2 .section2-text h1{
  font-size: 36px;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  margin: 0 auto;
  padding-top: 100px;
  line-height: 45px;
}

.section2 .section2-text p{
  font-size: 16.5px;
  font-weight: 600;
  color: hsl(213, 10%, 61%);
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 35px;
  line-height: 27px;
}

.section2 .section2-text a{
  font-family: 'Fraunces', serif;
  font-size: 16px;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
 
  border-bottom: #fcf1bd 6px solid;
  border-radius: 5px;
}

.section2 .section2-img{
  width: 50%;
  padding: 0;
  margin: 0 auto;
}

.section2 .section2-img img{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}


/**Section2 end********************/


/**Section3 start********************/

.section3{
  background: #fffbf8;
  height: 90vh;
  display: flex;
  padding: 0;
}

.section3 .section3-text{
  width: 50%;
  padding-top: 60px;
  padding-left: 150px;
  padding-right: 100px;
  margin: 0 auto 0 auto;
}

.section3 .section3-text h1{
  font-size: 36px;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  margin: 0 auto;
  padding-top: 100px;
  line-height: 45px;
}

.section3 .section3-text p{
  font-size: 16.5px;
  font-weight: 600;
  color: hsl(213, 10%, 61%);
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 35px;
  line-height: 27px;
}

.section3 .section3-text a{
  font-family: 'Fraunces', serif;
  font-size: 16px;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
 
  border-bottom: #fedad3 6px solid;
  border-radius: 5px;
}

.section3 .section3-img{
  width: 50%;
  padding: 0;
  margin: 0 auto;
}

.section3 .section3-img img{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}


/**Section3 end********************/

/**Section4 start********************/

.section4{
  background: #fffbf8;
  height: 90vh;
  display: flex;
  padding: 0;
}

.section4 .section4-a{
  background: url(img/desktop/image-photography.jpg);
  
}

/**Section4 end********************/